
.navigation{
    overflow: hidden;
    
}
 .navigation a{
    text-decoration: none;
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 5px 16px;

 }
 .navigation ul{
    list-style: none;
 }
 .navigation .drop1{
    display: none;
    float: left;
    overflow: hidden;
    z-index: 1;
 }
 .navigation .drop1 a{
    display: block;
    
 }
 .navigation .drop2{
    display: none;
    float: left;
    overflow: hidden;
 }
 .drop2 a{
    display: block;
 }

 .navigation:hover .drop1{
    display: block;
 }
 .navigation:hover .drop2{
    display: block;
 }

 .main{
    float: left;
 }
 

 
/*new stuff here */
.navbar {
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(97, 7, 70);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(70, 6, 6);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: blue;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }