
.navigation{
    overflow: hidden;
    
}
 .navigation a{
    text-decoration: none;
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 5px 16px;

 }
 .navigation ul{
    list-style: none;
 }
 .navigation .drop1{
    display: none;
    float: left;
    overflow: hidden;
    z-index: 1;
 }
 .navigation .drop1 a{
    display: block;
    
 }
 .navigation .drop2{
    display: none;
    float: left;
    overflow: hidden;
 }
 .drop2 a{
    display: block;
 }

 .navigation:hover .drop1{
    display: block;
 }
 .navigation:hover .drop2{
    display: block;
 }

 .main{
    float: left;
 }
 
